@use '../mixin';

.segment {

  &-title {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 4rem;
  }
  &-desc {
    margin: 2rem 0rem 2rem 0rem;
    font-size: 0.9em;
  }

    &-actions {
      margin-top: 7rem;
      margin-bottom: 7rem;
      font-size: 0.7em;
    }
}