@use "../mixin";

.segment {
  &-title {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 4rem;
    @include mixin.small {
      font-size: 2em;
      line-height: 3rem;
    }
  }
  &-desc {
    margin: 2rem 0rem 2rem 0rem;
    font-size: 0.9em;
  }

  &-actions {
    margin-top: 7rem;
    margin-bottom: 7rem;
    font-size: 0.7em;
    @include mixin.small {
      font-size: 0.5em;
    }
  }
}
